@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Rubik+Bubbles&display=swap');
 
body{
    margin: 0px;
  
}

.first{
    min-width: 840px;
    background-color: #5FBDFF;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    
}
.title{
    display: flex;
    font-family: 'Rubik Bubbles' ;
    font-size: 500%;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
   

}
.title-ime{
    justify-content: space-around;
}

.web-developer{
    font-family: Oswald;
    font-size: 300%;
}
.gornjaslika{
    align-self: flex-start;
    
    
}
.naslovna img{
    height: 30rem;
}
.social{
    display: flex;
    min-height: 100px;
    justify-content: space-evenly;
    align-items: center;
    gap: 7rem;
    font-family: Oswald;
}

.social a{
    text-decoration: none;
    display: flex;
}

.social  a:hover{
    color: red;
}
.social img{
    max-height: 1.5rem;
}
.instagram,.linkedin{
    display: flex;
}

@media (max-width:840px){
    .first{
        min-width: 350px;
        min-height: 300px;
        /* width: 100%; */
        background-color: #5FBDFF;
       gap: 0.3rem;
       justify-content: flex-start;
        

    }
    .title{
        font-size: 100%;
        gap: 0.5rem;

       
    }
    .naslovna{
        height: 3rch;
    }
    .naslovna img{
        height: 5rem;
    }
    .gornjaslika img{
        max-width: 3rem;
        
        
    }
    .social{
    min-height: 100px;
    max-height: auto;
    min-width: 350px;
    gap: 2rem;

}
    }

    
